h1 {
    text-align: center;
    color: white;
    background-color: #800080;
    font-family: serif;
    font-size: 60;
    header-border: black;
    }

html, body {
              margin: 30px;
              align: center;
            }

table{
        font-weight: lighter;
        font-family: serif;
        text-shadow: light;
        header-align: center;
        width: 100%;
        }

th{
    text-align: center;
    background-color: #800080;
    color: white;

    }

td{
    height: 35px;
    vertical-align: center;
    text-align: center;
    }

tr:hover{
          background-color: #00FF7F;
    }